<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.oneframework.members.dao.SysRoleMenuMapper">

	<select id="getOneByAccount">
		select * from member where account = #{account}
	</select>

	<select id="getOneById">
		select * from member where id = #{id}
	</select>

	<insert id="saveAccount">
		INSERT INTO member( `account` , `password`)
		VALUES( #{account}  , #{password})
	</insert>


	<update id="delete">
		delete from member where id = #{id}
	</update>

	<insert id="save">
		INSERT INTO member( `name` , `account` , `mail`, `password`, `status`)
		VALUES( #{name}  , #{account} , #{mail}, #{password}, #{status})
	</insert>

	<update id="update">
		update member set
		name = #{name},
		account = #{account},
		mail = #{mail},
		password = #{password},
		status = #{status}
		where id = #{id}
	</update>

	<update id="changePassword">
		update from set password = #{password} where id = #{id}
	</update>

	<select id="list">
		select * from member
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="searchKey != null and searchKey != ''">
				AND ()
			</if>
		</trim>
	</select>
</mapper>